body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  height: 10px;
  border: none;
  position: relative;
  background: rgb(2,0,36);
}

hr::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 30px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,117,174,1) 35%, rgba(53,4,67,1) 37%, rgba(24,116,168,1) 59%, rgba(170,57,100,1) 61%, rgba(105,84,141,0.9948354341736695) 67%, rgba(0,212,255,1) 100%);
  background-repeat: repeat-x;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
